/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25 de ago de 2022, 05:28:59
    Author     : ltp3etb
*/

header{
    position: absolute;
    z-index: 10;
    width: 100%;
    margin-top: 20px;
}

.navbar{
    padding: 20px 0;
}

.navbar-brand{
    font-weight: 1000;
    text-transform: uppercase;
    font-size: 2em;
    color: #262626;
}

.nav-item{
    font-weight: 1000;
    text-transform: uppercase;
}

/*nav-item active */
/*
.navbar-light .navbar-nav .nav-link{
    background: #262626;
    color: #fff;
}
*/
/*
.navbar-light .navbar-nav .nav-item.active  .nav-link{
    background: #262626;
    color: #fff;
}
*/
.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active  .nav-link{
    background: #262626;
    color: #fff;
}

.navbar-light .navbar-nav .nav-item .nav-link{
    color: #262626;
    padding: 5px 15px;
}

.navbar-light .navbar-toggler{
    border:none;
    color: #fff;
    border: 2px solid #7f7f7f;
    border-radius: 0;
    outline: none;
}

.navbar-collapse{
    background: #fff;
}